html 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.container 
{
    text-align: center;
    background-color: hsl(216, 50%, 16%);
    padding: 1rem;
}

.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{
    color: hsl(228, 45%, 44%); 
}